/*import google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
/*reset browser values*/
body,
html {
    overflow-x: hidden !important;
}
@media (max-width: 786px) {
    body,
    html {
        overflow-x: hidden !important;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    font-size: 100%;
}
img {
    display: block;
    max-width: 100%;
}
/*header style*/
#header_container {
    background: url(../img/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    cursor: default;
}
.logo_text {
    position: absolute;
    margin-left: 25px;
    line-height: 75px;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: #fff;
}
#header_subcontainer_title {
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 45px;
    text-align: center;
    margin: 25px 0 50px 0;
}
#arrow_down_content {
    animation: arrow_down_icon_animation 1s ease-in infinite alternate;
    text-align: center;
}
@keyframes arrow_down_icon_animation {
    to {
        transform: translateY(15px);
    }
}
/*header navbar style*/
#navbar_container {
    line-height: 75px;
    margin-right: 25px;
    text-align: right;
}
.navbar_item {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
.navbar_item_link {
    padding: 13px;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-family: "Barlow", sans-serif;
}
.navbar_item_link:hover {
    transition: 0.1s;
    background: #fff;
    color: #808080;
    box-shadow: 3px 3px 0 #bfbfbf;
}
.navbar_item:last-child a {
    background: #fff;
    color: #808080;
}
.navbar_item:last-child a:hover {
    transition: 0.3s;
    text-decoration: underline solid #808080;
    box-shadow: 3px 3px 0 #bfbfbf;
}
/*main style*/
.image_blocks {
    width: 50vw;
    height: 37vw;
    object-fit: cover;
}
.blocks_container {
    display: flex;
    align-items: center;
}
.main_block {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 37vw;
    justify-content: center;
}
.text_blocks_title {
    font-family: "Fraunces", sans-serif;
    font-size: 3.2vw;
    width: 400px;
    margin-bottom: 25px;
}
.text_blocks_paragraph {
    font-family: "Barlow", sans-serif;
    color: #808080;
    font-size: 1.4vw;
    width: 400px;
    margin-bottom: 25px;
}
.text_blocks_learnmore {
    font-family: "Fraunces", sans-serif;
    text-decoration: 5px solid underline;
    color: #000;
    font-size: 1.8vw;
    width: 400px;
}
#graphicdesign_title {
    color: #205b4f;
}
#photography_title {
    color: #165b80;
}
#graphicdesign_paragraph {
    color: #5b998c;
}
#photography_paragraph {
    color: #368ab3;
}
#graphicdesign_title,
#photography_title {
    margin-top: 23vw;
    font-family: "Fraunces", sans-serif;
    font-size: 2.8vw;
}
#graphicdesign_paragraph,
#photography_paragraph {
    width: 40vw;
    font-size: 1.4vw;
    font-family: "Barlow", sans-serif;
    margin-top: 25px;
}
#graphicdesign_container,
#photography_container {
    width: 50vw;
    height: 37vw;
}
#graphicdesign_container {
    background: url(../img/desktop/image-graphic-design.jpg);
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
#photography_container {
    background: url(../img/desktop/image-photography.jpg);
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
#clients_title {
    font-family: "Fraunces", sans-serif;
    font-size: 17px;
    color: #808080;
    margin: 100px 0 100px 0;
    text-align: center;
    letter-spacing: 5px;
}
#clients_content {
    display: flex;
    justify-content: space-around;
}
.clients_images {
    border-radius: 50%;
}
#emily_container,
#thomas_container,
#jennie_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.client_paragraph {
    margin-top: 75px;
    font-family: "Barlow", sans-serif;
    color: #202632;
    font-size: 1.4vw;
    width: 250px;
}
.client_name {
    font-family: "Fraunces", sans-serif;
    font-size: 2vw;
    margin-top: 50px;
}
.client_charge {
    color: #808080;
    font-size: 13px;
    font-family: "Barlow", sans-serif;
    margin-top: 1.2vw;
}
#final_images_container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    background: whitesmoke;
}
.final_image {
    width: 24.6025vw;
}
/*footer style*/
footer {
    text-align: center;
    background: #90d4c5;
    cursor: default;
}
footer h1 {
    display: inline-block;
    margin-top: 30px;
    margin-right: 25px;
    color: #194d44;
    margin-bottom: 25px;
}
#footer_navbar_container {
    list-style: none;
}
.footer_navbar_item {
    display: inline-block;
    list-style: none;
}
.footer_navbar_item:not(:last-child) {
    margin-right: 40px;
}
.footer_navbar_item_link {
    text-decoration: none;
    color: #194d44;
    font-family: "Barlow", sans-serif;
    transition: 0.1s;
    cursor: pointer;
}
.footer_navbar_item_link:hover {
    color: white;
}
#social_container svg {
    margin: 75px 25px 50px 0;
}
@media (max-width: 850px) {
    .blocks_container {
        display: block;
    }
    .image_blocks {
        width: 100vw;
        height: 80vw;
    }
    .main_block {
        width: 100vw;
        height: 80vw;
    }
    .text_blocks_title {
        font-size: 6vw;
        width: max-content;
    }
    .text_blocks_paragraph {
        font-size: 5vw;
        width: 80vw;
        text-align: center;
    }
    .text_blocks_learnmore {
        font-size: 5vw;
        width: max-content;
    }
    #graphicdesign_container,
    #photography_container {
        width: 100vw;
        height: 90vw;
    }
    #graphicdesign_title,
    #photography_title {
        font-size: 6vw;
        margin-top: 45vw;
    }
    #graphicdesign_paragraph,
    #photography_paragraph {
        font-size: 5vw;
        width: 80vw;
        margin-top: 25px;
    }
    #emily_container,
    #thomas_container,
    #jennie_container {
        margin-bottom: 100px;
        display: block;
    }
    #clients_title {
        text-align: center;
    }
    #clients_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .client_paragraph {
        font-size: 5vw;
        width: 80vw;
        margin-top: 25px;
    }
    .client_name {
        margin-top: 25px;
        font-size: 5vw;
        width: 80vw;
    }
    .client_charge {
        width: 80vw;
        font-size: 5vw;
    }
    #final_images_container {
        margin-top: 0;
    }
}
