/*import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
/*reset browser values*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    font-size: 100%;
}
/*header style*/
#header_container {
    background: url(../img/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    cursor: default;
}
#logo_text {
    position: absolute;
    margin-left: 25px;
    line-height: 75px;
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: #fff;
}
#header_subcontainer_title {
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 45px;
    text-align: center;
    margin: 25px 0 50px 0;
}
#arrow_down_content {
    animation: arrow_down_icon_animation 1s ease-in infinite alternate;
    width: fit-content;
}
@keyframes arrow_down_icon_animation {
    to {
        transform: translateY(15px);
    }
}
/*header navbar style*/
#navbar_container {
    line-height: 75px;
    margin-right: 25px;
    text-align: right;
}
.navbar_item {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
.navbar_item_link {
    padding: 13px;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
}
.navbar_item_link:hover {
    transition: 0.1s;
    background: #fff;
    color: #808080;
    box-shadow: 3px 3px 0 #bfbfbf;
}
.navbar_item:last-child a {
    background: #fff;
    color: #808080;
}
.navbar_item:last-child a:hover {
    transition: 0.3s;
    text-decoration: underline solid #808080;
    box-shadow: 3px 3px 0 #bfbfbf;
}
/*main style*/
.blocks_container {
    display: flex;
    align-items: center;
}
.main_block {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 500px;
}
.main_block:nth-child(3n) {
    background: yellow;
}
.text_blocks_title {
    font-family: 'Fraunces', sans-serif;
    font-size: 37px;
    width: 400px;
    margin-top: 125px;
    margin-bottom: 25px;
}
.text_blocks_paragraph {
    font-family: 'Barlow', sans-serif;
    color: #808080;
    font-size: 17px;
    width: 400px;
    margin-bottom: 25px;
}
.text_blocks_learnmore {
    font-family: 'Fraunces', sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 23px;
    border-bottom: 5px solid gray;
}
#egg_image {
    background: url(../img/desktop/image-transform.jpg);
}
#standout_image {
    background: url(../img/desktop/image-stand-out.jpg);
}
#graphicdesign_image {
    background: url(../img/desktop/image-graphic-design.jpg);
}
#photography_image {
    background: url(../img/desktop/image-photography.jpg);
}
.final_main_blocks_title {
    margin-top: 325px;
    color: #194d44;
}
.final_main_block {
    text-align: center;
}
#clients_title {
    font-family: 'Fraunces', sans-serif;
    font-size: 17px;
    color: #808080;
    margin: 100px 0 100px 0;
    text-align: center;
    letter-spacing: 5px;
}
#clients_content {
    display: grid;
    grid-template-columns: 325px 325px 325px;
    justify-content: space-around;
    text-align: center;
}
.clients_images {
    border-radius: 50%;
    position: relative;
    left: 90px;
}
.client_paragraph {
    margin-top: 75px;
    font-family: 'Barlow', sans-serif;
    color: #202632;
}
.client_name {
    font-family: 'Fraunces', sans-serif;
    font-size: 25px;
    margin-top: 50px;
}
.client_charge {
    color: #808080;
    font-size: 13px;
    font-family: 'Barlow', sans-serif;
    margin-top: 17px;
}
#final_images_container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.final_image {
    width: 24.7vw;
}
/*footer style*/
footer {
    text-align: center;
    background: #90d4c5;
    cursor: default;
}
footer h1 {
    display: inline-block;
    margin-top: 30px;
    margin-right: 25px;
    color: #194d44;
    margin-bottom: 25px;
}
#footer_navbar_container {
    list-style: none;
}
.footer_navbar_item {
    display: inline-block;
    list-style: none;
}
.footer_navbar_item:not(:last-child) {
    margin-right: 40px;
}
.footer_navbar_item_link {
    text-decoration: none;
    color: #194d44;
    font-family: 'Barlow', sans-serif;
    transition: 0.1s;
    cursor: pointer;
}
.footer_navbar_item_link:hover {
    color: white;
}
#social_container svg {
    margin: 75px 25px 50px 0;
}